.login-page{
    justify-content: flex-start;
}
.form-group {
  position: relative;
  margin: 27px 0;
  width: 92%;
}

.label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
  color:rgb(108, 37, 255) ;
}

.welcome-heading p{
  line-height: 25px;
}

.input-tags{
  margin-top: -4%;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #979696;
  border-radius: 5px;
  outline: none;
  background-color: rgb(247, 248, 249);

}

.input:focus{
    border: 2px solid black;
}

.btn {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gray-btn{
    background-color: #333;
    color: white;
}

.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.gray-btn:enabled{
  background-color: rgb(108, 37, 255) ;;
  color: white;
}

.gray-btn:enabled:hover{
  background-color: rgb(142, 81, 255);
    color: white;
}